DSRouterServiceIIS/Service References/DSServiceReference/WcfDataServer3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTupleOfdateTimedateTime">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TupleOfdateTimedateTime" nillable="true" type="tns:TupleOfdateTimedateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTupleOfdateTimedateTime" nillable="true" type="tns:ArrayOfTupleOfdateTimedateTime" />
  <xs:complexType name="TupleOfdateTimedateTime">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="xs:dateTime" />
      <xs:element name="m_Item2" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfdateTimedateTime" nillable="true" type="tns:TupleOfdateTimedateTime" />
  <xs:complexType name="ArrayOfTupleOfdateTimeanyType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TupleOfdateTimeanyType" nillable="true" type="tns:TupleOfdateTimeanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTupleOfdateTimeanyType" nillable="true" type="tns:ArrayOfTupleOfdateTimeanyType" />
  <xs:complexType name="TupleOfdateTimeanyType">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="anyType" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="xs:dateTime" />
      <xs:element name="m_Item2" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfdateTimeanyType" nillable="true" type="tns:TupleOfdateTimeanyType" />
  <xs:complexType name="MarshalByRefObject">
    <xs:sequence>
      <xs:element name="__identity" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MarshalByRefObject" nillable="true" type="tns:MarshalByRefObject" />
</xs:schema>