DSRouterServiceIIS/Service References/DSServiceReference/WcfDataServer3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfDataServer_Lib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfDataServer_Lib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDSAlarmsInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DSAlarmsInfo" nillable="true" type="tns:DSAlarmsInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDSAlarmsInfo" nillable="true" type="tns:ArrayOfDSAlarmsInfo" />
  <xs:complexType name="DSAlarmsInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ALARMLEVEL" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="ALARMTEXTMESSAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ALARMTIMESTAMP" type="xs:dateTime" />
      <xs:element minOccurs="0" name="COMMENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONFIRM" type="xs:boolean" />
      <xs:element minOccurs="0" name="GuidAlarmRecord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrTagId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="devguid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tagguid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DSAlarmsInfo" nillable="true" type="tns:DSAlarmsInfo" />
</xs:schema>